annotated-types==0.7.0
attrs==24.2.0
babel==2.16.0
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.21.2
frozenlist==1.4.1
idna==3.7
imagesize==1.4.1
importlib_metadata==8.3.0
Jinja2==3.1.4
magic-filter==1.0.12
MarkupSafe==2.1.5
multidict==6.0.5
packaging==24.1
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyTelegramBotAPI==4.22.1
pytz==2024.1
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
telebot==0.0.5
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.9.4
zipp==3.20.0
